.Encabezado {
    background-color:#1f2528;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}

.logo img {
    width: 120px;
    height: auto;
    margin-left: 0;
    display: block;
    border-radius: 50%;
}

.Paginas {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    flex: 1; 
}

.Paginas a {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0 15px; 
    text-decoration: none; 
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.Buscador {
    display: inline-flex;
    align-items: center;
    margin-right: 75px; 
    text-align: right;
}

.Buscador input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 250px;
    height: 22px;
    padding: 5px;
    font-size: 14px;
    border: 3px solid #000000;
    border-radius: 12px;
}

.Buscador button {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #05eeff;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    height: 32px;
}

.Cuenta {
    display: inline-flex;
    align-items: center;
}

.Cuenta a {
    text-decoration: none; 
    color: white;
    font-size: 14px;
    margin-left: 5px; 
    margin-right: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.icono-cuenta {
    font-size: 32px;
}

.primera-parte {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.primera-parte img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido-superpuesto {
    position: absolute;
    bottom: 140px;
    left: 120px;
    text-align: left;
    color: white;
}

.contenido-superpuesto h1 {
    font-size: 48px;
    margin-bottom: 2px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
    margin-left: 100px;
}

.contenido-superpuesto p {
    width: 30%; 
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.contenido-superpuesto button {
    margin-left: 185px;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

.contenido-superpuesto button:hover {
    background-color: #cc0000;
}

.boton-ayuda {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #d74b05;
    border: none;
    border-radius: 40%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.boton-ayuda:hover {
    background-color: #d74b05;
}


.centro-ayuda {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 360px;
    height: 500px;
    background: linear-gradient(to bottom, #108ab3, #ffffff);
    border-radius: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    overflow: hidden;
    display: none;
    flex-direction: column;
}

/* Muestra el Help Center cuando está visible */
.centro-ayuda.show {
    display: flex;
}

/* Header del Help Center */
.centro-ayuda-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #07d37e;
    color: white;
}

.centro-ayuda-header h1 {
    margin: 0;
    font-size: 24px;
}

.boton-cerrar {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    cursor: pointer;
    font-weight: bold;
}

/* Buscador dentro del Help Center */
.centro-ayuda-busqueda {
    display: flex;
    padding: 10px;
    background: #e7e9ff;
    border-radius: 8px;
    margin: 10px;
}

.centro-ayuda-busqueda input {
    flex: 1;
    border: none;
    border-radius: 16px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: 3px solid #000000;
}

.centro-ayuda-busqueda button {
    background-color: #ffffff;
    color: white;
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border: 3px solid #000000;
}

.centro-ayuda-opciones {
    padding: 10px;
}

.centro-ayuda-opciones .option {
    background: white;
    border: 3px solid #000000;
    border-radius: 18px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
    
}

.centro-ayuda-opciones .option:hover {
    background: #f0f4ff;
    transform: scale(1.02);
    
}